@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;700&family=Montserrat:wght@400;500;600&family=Space+Mono:wght@400;700&display=swap');

*{
    font-family: 'Space Mono', monospace;
    padding: 0;
    margin: 0;
}
/* Header style */
.heading{
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 24px;
    line-height: 25.18px;
    text-transform: uppercase;
    padding-top: 40px;
    padding-left: 77px;
}
/* Banner section style */
#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 200px;
}
.hero-img{
    width: 540px;
    height: 415px;
    padding-left: 77px;

}

.title{
   font-size: 40px;
   font-weight: 700;
   margin-bottom: 30px;
}

.description{
    margin-right: 100px;
    margin-bottom: 40px;
    line-height: 27px;
}

#back-btn{
    padding: 15px 25px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    background-color: #333333;
    border: none;
    outline: none;
}

/* Footer style */
#footer{
    text-align: center;
    margin-top: 150px;
}
.footer-details{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #BDBDBD;
    line-height: 17px;
}

.link{
    font-weight: 700;
    color: #BDBDBD;
}